html body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.sectionLogin {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #553d2a;
  position: relative;
  z-index: 10;
}
.divBoxForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 1200px;
  background-color: #e3d7bf;
  border-left: 7px solid #ab9680;
  border-right: 7px solid #ab9680;
  box-shadow: 0px 0px 30px 5px #17100b;
  padding: 100px 0;
}
.formLogin {
  max-width: 700px;
  /* flex: 1; */
  background-color: #3b2f27;
  padding: 20px;
  border: 6px solid #524135;
  border-radius: 8px;
  box-shadow: -3px 3px 5px #17100b;
}
.formLogin h3 {
  text-align: center;
  color: #fff9e1;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-shadow: -2px 2px 4px #251e19;
}
.form_inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-container {
  position: relative;
  /* max-width: 350px; */
  flex: 1 280px;
  margin: 6px;
  label{
    color: #fff9e1;
    margin-bottom: 5px;
  }
}
.input-container--email {
  flex: 1 500px;
}
.input-container--textarea{
  flex: 1 350px;
}
.inputLogin {
  width: 100%;
  background-color: #e3d7bf;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-bottom: 5px solid #c4b89e;
  outline: none;
}
select.inputLogin {
  height: -webkit-fill-available;
}
.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #745c4a;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.input-container .underline--textarea{
  bottom: 7px;
}

.inputLogin:focus ~ .underline {
  transform: scaleX(1);
}
.input-container--botones {
  display: flex;
  align-items: center;
  gap: 20px;
}
.inputLogin:valid ~ .underline {
  background-color: #479f46;
  transform: scaleX(1);
}

textarea{
  min-height: 220px;
}

.botonLogin {
  text-align: center;
  color: #fff9e1;
  background-color: #745c4a;
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-top: 15px;
  border: none;
  border-radius: 7px;
  box-shadow: -2px 2px 4px #2e251f;
}

.botonLogin--volver {
  text-decoration: none;
  background-color: #a8866b;
  color: #2e251f;
}
